html,
body,
#root {
  background: transparent;
  margin: 0;
}
.mode-switcher {
  display: inline-flex;
  padding: 4px;
  align-items: center;
  gap: 6px;
  border-radius: 32px;
  border: 1px solid #313131;
  background: #111317;

  /* Browser TopBar Shadow */
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
}

.mode-switcher-button {
  color: #fff;
  display: inline-flex;
  padding: 6px 12px;
  align-items: center;
  gap: 2px;
  border-radius: 32px;

  /* type1-sb */
  font-size: var(--font-size-type1);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-relaxed); /* 17.94px */
  letter-spacing: var(--letter-spacing-tight);
}

.mode-switcher-button--agent--active,
.mode-switcher-button--browser--active {
  border-radius: 32px;
  background-color: #5fbc40;
}

.mode-switcher-button > .icon-button-icon {
  gap: 2px;
}

.mode-switcher-button:hover {
  border-radius: 32px;
  background: #3e3e3e;
}
